<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel=icon href=/images/favicon.png sizes="16x16" type="image/png">
    <title>{% block title %}Welcome to PouBus!{% endblock %}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
      {% block stylesheets %}{% endblock %}
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//piwik.canbuildyour.website/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '10']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    {% macro is_active(segment) %}{% if craft.request.firstSegment == segment %}active{% endif %}{% endmacro %}
    <!-- End Matomo Code -->
      <style>
          /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #map {
              height: 100%;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
              height: 100%;
              margin: 0;
              padding: 0;
          }
      </style>
  </head>
  <body>

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="navbar-header">
        <a class="navbar-brand" href="{{ app.request.getBaseURL() }}/">PooBus</a>
      </li>
      <li class="nav-item {% if app.request.attributes.get('_route') == 'app_pounapaw_homepage' %}active{% endif %}">
        <a class="nav-link" href="{{ app.request.getBaseURL() }}/">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') == 'app_pounapaw_aboutus' %}active{% endif %}"
           href="{{ app.request.getBaseURL() }}/about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') == 'app_pounapaw_reviews' %}active{% endif %}" href="{{ app.request.getBaseURL() }}/reviews">What Others Say</a>
      </li>
    </ul>
  </nav>

  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
  </body>
</html>
