{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/aboutus.css') }}">
{% endblock %}

{% block body %}

    <div class="about-us">
        <h1 class="headline">About Us</h1>
        <div class="container-fluid">
            <div class="card-group">
                <div class="card">
                    <div class="card-img pb-3">
                        <img class="card-img-top" src="/images/boy.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Savvas Alexandrou</h5>
                        <p class="card-text">Hi,I'm Savvas Alexandrou and I'm a Full-Stack Web Developer.</p>

                    </div>
                </div>
                <div class="card">
                    <div class="card-img pb-3">
                        <img class="card-img-top" src="/images/girl.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Eleni Ioakim</h5>
                        <p class="card-text">Hi,I'm Eleni Ioakim and I'm a student.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img pb-3">
                        <img class="card-img-top" src="/images/man.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Christos Ioannou</h5>
                        <p class="card-text">Hi, I'm Christos Ioannou and I'm a student.</p>
                    </div>
                </div>
            </div>

        </div>

        <h1 class="headline">Why PouBus?</h1>
        <div class="why-poubus">
            <p>PouBus is the easiest way to plan your bus trip! In just 3 steps get your optimized route to the nearest bus station, the exact time you need to start AND get a discount from a local-shop that's in your route!</p>
            <div class="why-poubus">
                <img src="images/shutterstock_245281558.jpg" style="display: inline-block;" class="img-thumbnail" alt="Cinque Terre"></div>

        </div>

        <br>
        <h1 class="headline">Our Next Goal</h1>
        <div class="why-poubus">
            <p>Our nexr goal is to make PouBus available for all the ways of transportation.</p>
            <div class="why-poubus">
                <img src="images/nextstep.png"  class = "img-thumbnail" alt="Cinque Terre">   </div>
        </div>
    </div>

{% endblock %}