{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/homepage.css') }}">
{% endblock %}

{% block body %}

    <div id="mapdiv"></div>

    <div class="example-wrapper">
        <h1>Welcome to PouBus!</h1>
        <div id="map"></div>
        <form class="locations" method="post" action="/tziame">
            <div class="form-group">
                <label>Starting Point</label>
                <input type="text" class="form-control" name="start" placeholder="Give Starting Point">
            </div>
            <div class="form-group">
                <label>Destination</label>
                <input type="text" class="form-control" name="start" placeholder="Give Destination">
            </div>
            <button type="submit" class="btn btn-default btn-primary">Submit</button>
        </form>

        <form class="locations">
            <h3>How to Use PouBus:</h3>
            <ol>
                <li>Enter your starting point</li>
                <li>Enter your destination point</li>
                <li>Press Submit</li>
                <li>A route will be made just for you</li>
                <li>Don't forget to get your local-shop discount by giving this number <b>ANGELHACK2011</b></li>
                {% for step in steps %}
                    <li>{{ step['html_instructions'] }}</li>
                {% endfor %}
            </ol>
        </form>
    </div>
{% endblock %}
