{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/reviews.css') }}">
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1 class="headline">Reviews</h1>
    </div>


{% endblock %}