{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/reviews.css') }}">
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1 class="headline">Reviews</h1>

        <br>
        <div class="container">
            <div class="row">
                <div class="comments col-md-8" id="comments">
                <!-- comment -->
                <div class="comment mb-2 row">
                    <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <a href=""><img class="mx-auto rounded-circle img-fluid"
                                        src="http://demos.themes.guide/bodeo/assets/images/users/m103.jpg" alt="avatar"></a>
                    </div>
                    <div class="comment-content col-md-11 col-sm-10">
                        <div class="comment-body">
                            <p>
                                I started using PouBus and I got to save lot of time!
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /comment -->
                <!-- comment -->
                <div class="comment mb-2 row">
                    <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <a href=""><img class="mx-auto rounded-circle img-fluid"
                                        src="http://demos.themes.guide/bodeo/assets/images/users/w102.jpg" alt="avatar"></a>
                    </div>
                    <div class="comment-content col-md-11 col-sm-10">
                        <div class="comment-body">
                            <p>PooBus helped me get more organised and be able to go somewhere in time!
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /comment -->
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <a name="comments"></a>
        <h2 id="comments">Leave a Review: </h2>
        <input type="hidden" id="forumIdHash" value="a35Pl">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <textarea class="autoExpand forumPost form-control" rows="4" data-min-rows="4"
                  placeholder="Enter your message here"
                  style="z-index: auto; position: relative; line-height: 20px; font-size: 14px; transition: none; background: transparent;"></textarea><br>
        <button class="forumPostButton btn btn-default">Post</button>
    </div>

    </div>
    </div>


{% endblock %}